.shell {
    display: flex;
    min-height: 100vh;
}

.main {
    flex: 1;
    margin-left: var(--sidebar-width);
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding-top: 60px;
    /* topbar height */
    background: var(--bg-app);
    height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}